* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  background-color: hsl(0, 0%, 17%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.main-container {
  margin-top: 0.5em;
  background-color: brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  position: relative;
}
.main-container h1 {
  text-align: center;
  margin-top: 0.7em;
  color: white;
}
.cards-container {
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  padding: 25px 50px 25px 50px;
  gap: 3rem;
  align-items: center;
  text-align: center;
  align-content: center;
}
.card {
  height: 15%;
  width: 15%;
  text-align: center;
  align-content: center;
  background-color: antiquewhite;
  border-radius: 4px;
  margin: 5px;
  transform: rotateY(180deg);
  cursor: pointer;
  transition: transform 0.8s;
}

.card-image {
  max-height: 80%;
  max-width: 80%;
  visibility: hidden;
  transition: visibility .2s ease;
}

.controls {

  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
  width: 50%;
}
.controls button {
  font-size: 15px;
  border: none;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}

.card.active {
  transform: rotateY(0);
}
.card.active img {
  visibility: visible;
}

.card.wrong {
  background-color: red;
}
.card.correct {
  background-color: green;
}

.congrats {
  font-size: 2rem;
  background-color: antiquewhite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 250px;
  text-align: center;
  padding: 25px;
}

.congrats .select-option-container {
  position: absolute;
  bottom: 0; 
  left: 50%; 
  transform: translateX(-50%); 
  display: flex;
  gap: 150px;
  margin-bottom: 20px;
}

.congrats .select-option-container button{
  border: none;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(85, 42, 165);
}
.congrats.hidden{
  visibility: hidden;
}
.congrats.shown{
  visibility: visible;
}